{% extends "base.twig" %}

{% block content %}
<div class="container">

    <section class="section">

        <div class="section-content">

            <div class="section-title"><h1>About</h1></div>
            
            <div class="section-content">

                <h3>Installed utilities</h3>
                <table class="table">

                    <tr>
                        <th>Name</th>
                        <th>Path</th>
                        <th>Status</th>
                    </tr>

                    <tr>
                        <td>FFmpeg</td>
                        <td>{{ bins.ffmpeg.path }}</td>
                        <td>{{ bins.ffmpeg.status }}</td>
                    </tr>

                    <tr>
                        <td>Mediainfo</td>
                        <td>{{ bins.mediainfo.path }}</td>
                        <td>{{ bins.mediainfo.status }}</td>
                    </tr>

                    <tr>
                        <td>Twitch chat downloader</td>
                        <td>{{ bins.tcd.path }}</td>
                        <td>{{ bins.tcd.status }}</td>
                    </tr>

                    <tr>
                        <td>Streamlink</td>
                        <td>{{ bins.streamlink.path }}</td>
                        <td>{{ bins.streamlink.status }}</td>
                    </tr>

                    <tr>
                        <td>youtube-dl{{ config.youtube_dlc ? 'c' : '' }}</td>
                        <td>{{ bins.youtubedl.path }}</td>
                        <td>{{ bins.youtubedl.status }}</td>
                    </tr>

                    <tr>
                        <td>Pipenv</td>
                        <td>{{ bins.pipenv.path }}</td>
                        <td>{% autoescape %} {{ bins.pipenv.status|raw }} {% endautoescape %}</td>
                    </tr>

                    <tr>
                        <td>TwitchDownloaderCLI</td>
                        <td>{{ bins.twitchdownloader.path }}</td>
                        <td>{% autoescape %} {{ bins.twitchdownloader.status|raw }} {% endautoescape %}</td>
                    </tr>

                </table>

                <p>This app tries to find all the executables using system utilities. This may not work if they're on a custom PATH. Please visit <a href="{{ url_for('settings') }}">settings</a> to manually change them.</p>

                <hr />

                <h3>Software</h3>
                <strong>Python version:</strong> {{ bins.python.version ?: '(no output)' }}
                <br /><strong>Python3 version:</strong> {{ bins.python3.version ?: '(no output)' }}
                <br /><strong>PHP version:</strong> {{ bins.php.version ?: '(no output)' }}
                <br /><strong>PHP User:</strong> {{ bins.php.user }}
                <br /><strong>PHP PID:</strong> {{ bins.php.pid }}
                <br /><strong>PHP UID:</strong> {{ bins.php.uid }}
                <br /><strong>PHP GID:</strong> {{ bins.php.gid }}
                <br /><strong>PHP SAPI:</strong> {{ bins.php.sapi }}
                <br /><strong>Platform:</strong> {{ bins.php.platform ?: 'unknown' }}/{{ bins.php.platform_family ?: 'unknown' }}
                {% if envs %}
                {% if envs.NODE %}<br /><strong>Node:</strong> {{ envs.npm_config_node_version }}{% endif %}
                {% endif %}
                <hr />

                {% if envs %}
                <h3>Environment variables</h3>
                <table class="table">
                    {% for k,v in envs %}
                        <tr>
                            <td>{{ k }}</td><td>{{ v }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <hr />
                {% endif %}

                <h3>Pip update</h3>
                <code>pip install --user youtube-dl streamlink tcd pipenv</code>
                <br>You might want to install without the --user switch depending on environment.

                <hr />

                <h3>Links</h3>
                <ul>
                    <li><a href="https://www.python.org/downloads/" target="_blank">Python</a></li>
                    <li><a href="https://ffmpeg.zeranoe.com/builds/" target="_blank">FFmpeg builds for windows</a></li>
                    <li><a href="https://mediaarea.net/en/MediaInfo" target="_blank">MediaInfo</a></li>
                    <li><a href="https://github.com/lay295/TwitchDownloader" target="_blank">TwitchDownloader</a></li>
                </ul>

            </div>
            
        </div>

    </section>

</div>
{% endblock %}
