{% extends "base.twig" %}

{% block content %}

<div class="container vertical">

    <section class="section" data-section="vods">

        <div class="section-title"><h1>Recorded VODs</h1></div>

        <div class="section-content">

            <div class="button-bar">
                <a class="button" href="?checkvod=1"><span class="icon"><i class="fa fa-globe"></i></span> Check if VODs exist</a>
                <a class="button" href="?rebuild_segments=1"><span class="icon"><i class="fa fa-video-slash"></i></span> Rebuild segments</a>
                <a class="button" href="?match_vod=1"><span class="icon"><i class="fa fa-copy"></i></span> Match VODs</a>
                <!-- <button class="button" onclick="notifyMe();"><span class="icon"><i class="fa fa-bell"></i></span> Notify</button> -->
                <!-- <button class="button" onclick="window.forceRefresh()"><span class="icon"><i class="fa fa-sync"></i></span> Refresh vods</button> -->
            </div>

            {% if checkvod %}
                <hr>
                {% if is_a_vod_deleted %}
                    <p><strong>A VOD IS DELETED <span class="icon"><i class="fas fa-exclamation-triangle"></i></span></strong></p>
                    <ul>
                        {% for streamer in streamerList|sort((a, b) => a.display_name > b.display_name) %}
                            {% for vodclass in streamer.vods_list %}
                                {% if vodclass.is_finalized and not vodclass.twitch_vod_exists %}
                                    <li>
                                        <a href="#vod_{{ vodclass.basename }}">{{ vodclass.basename }}</a>
                                        {% if vodclass.twitch_vod_neversaved %}(never saved?){% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p><em>All vods seem to still exist! <span class="icon"><i class="fas fa-thumbs-up"></i></span></em></p>
                {% endif %}
                <hr>
            {% endif %}

            <br>

            <div class="field">
                <label class="checkbox"><input type="checkbox" id="useSpeechOption" /> Speech</label>
                <label class="checkbox"><input type="checkbox" id="singlePageOption" /> Single Page</label>
            </div>

            {% for streamer in streamerList|sort((a, b) => a.display_name > b.display_name) %}

                {% include 'components/streamer.twig' %}
                
            {% endfor %}

            <div>
                <strong>Total size: {{ total_size|formatBytes }}</strong><br>
                <strong>Free space: {{ free_size|formatBytes }}</strong>
            </div>

        </div>

    </section>

    <section class="section" data-section="history" data-collapsed="1">

        <div class="section-title"><h1>History</h1></div>

        <div class="section-content">

            <table class="table">
                <tr>
                    <th>Start</th>
                    <th>End</th>
                    <th>Streamer</th>
                    <th>Title</th>
                </tr>
                {% for line in history_data %}
                    <tr>
                        <td>{{ line.started_at.date|date('Y-m-d H:i:s') }}</td>
                        <td>{{ line.ended_at.date|date('Y-m-d H:i:s') }}</td>
                        <td>{{ line.streamer_name }}</td>
                        <td>{{ line.title }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>

    </section>

    <section class="section" style="display: none;" data-section="debug">

        <div class="section-title"><h1>Hook</h1></div>

        <div class="section-content">
        
        <form method="post" action="hook.php">
            <textarea class="input" name="json"></textarea>
            <br><button class="button" type="submit">Hook</button>
        </form>

        </div>

    </section>

    {# logs #}
    <section class="section" data-section="logs" data-collapsed="1">

        <div class="section-title"><h1>Logs</h1></div>

        <div class="section-content">

            <select id="log_select">
                {% for f in log_files %}
                    <option>{{ f }}</button>
                {% endfor %}
            </select>

            {% include 'components/logviewer.twig' %}

        </div>

    </section>

    <div id="js-status"></div>

</div>

{% endblock %}
