{% extends "base.twig" %}

{% block content %}

<div class="container">

    <section class="section">

        <div class="section-title"><h1>Recorded VODs</h1></div>

        <div class="section-content">

            <a class="button" href="?checkvod=1">Check if VODs exist</a>
            {% if checkvod %}
                if($is_a_vod_deleted){
                    echo ' - <strong>A VOD IS DELETED</strong>';
                }else{
                    echo ' - all vods seem to still exist';
                }
            {% endif %}
            
            <br><br>

            {% for streamer in streamerList %}

                <div class="streamer">

                    <div id="streamer_{{ streamer.username }}" class="anchor"></div>

                    <div class="streamer-title">
                        <h2>
                            <a href="https://twitch.tv/{{ streamer.username }}" rel="noreferrer" target="_blank">
                                {{ streamer.username }}
                            </a>
                            {% if streamer.is_live %}
                                 <span class="live">live</span>
                            {% endif %}
                        </h2>
                        <span class="small">
                            {{ streamer.quality }}
                             &middot; 
                            {{ streamer.vods_list|length }} vods
                             &middot; 
                            {{ streamer.vods_size|formatBytes }}
                        </span>
                    </div>

                    {% if streamer.vods_list|length == 0 %}

                        <div class="notice">None</div>

                    {% else %}
                        
                        {% for vodclass in streamer.vods_list %}

                            {% include 'components/vod.twig' %}

                        {% endfor %}

                    {% endif %}

                </div>

            {% endfor %}

            <strong>Total size: {{ total_size|formatBytes }}</strong>

        </div>

    </section>


<section class="section" style="display: none;">

	<div class="section-title"><h1>Hook</h1></div>

	<div class="section-content">
	
	<form method="post" action="hook.php">
		<textarea class="input" name="json"></textarea>
		<br><button class="button" type="submit">Hook</button>
	</form>

	</div>

</section>

// logs
echo '<section class="section">';

	echo '<div class="section-title"><h1>Logs</h1></div>';

	echo '<div class="section-content">';
		
		$logs = glob( __DIR__ . "/../logs/*.log.json");
		
		$last_log = null;
		
		echo '<ul class="logs">';
		
			foreach( $logs as $log ){
				// echo '<li><a href="' . $log . '">' . basename($log) . '</a></li>';
				$last_log = $log;
			}

		echo '</ul>';

		echo '<div class="log_viewer">';

		if( $last_log ){
			
			$json = json_decode( file_get_contents( $log ), true );

			foreach( $json as $line ){
				$escaped_text = htmlentities($line["text"], ENT_QUOTES | ENT_HTML401 | ENT_SUBSTITUTE | ENT_DISALLOWED, 'UTF-8', true);
				/*
				if( strpos($line, '<INFO>') !== false ) $color = 'info';
				if( strpos($line, '<ERROR>') !== false ) $color = 'error';
				if( strpos($line, '<WARNING>') !== false ) $color = 'warning';
				if( strpos($line, '<DEBUG>') !== false ) $color = 'debug';
				*/
				$text_line = "";
				$date = DateTime::createFromFormat("U.u", $line["date"]);
				if($date) $text_line .= $date->format("Y-m-d H:i:s.v");
				$text_line .= ' &lt;' . $line["level"] . '&gt; ';
				$text_line .= $escaped_text;
				echo '<div class="log_' . strtolower( $line["level"] ) . '">' . $text_line . '</div>';
			}
		}

		echo '</div>';

	echo "</div>";

echo '</section>';

echo '</div>';

{% endblock %}
