{% extends "base.twig" %}

{% block content %}

<div class="container">

    <section class="section">

        <div class="section-title"><h1>Recorded VODs</h1></div>

        <div class="section-content">

            <a class="button" href="?checkvod=1">Check if VODs exist</a>
            {% if checkvod %}
                {% if is_a_vod_deleted %}
                    - <strong>A VOD IS DELETED</strong>
                {% else %}
                    - all vods seem to still exist
                {% endif %}
            {% endif %}

            <button class="button" onclick="notifyMe();">Notify</button>

            <button class="button" onclick="window.forceRefresh()">Force refresh</button>
            
            <br><br>

            {% for streamer in streamerList %}

                {% include 'components/streamer.twig' %}
                
            {% endfor %}

            <div>
                <strong>Total size: {{ total_size|formatBytes }}</strong><br>
                <strong>Free size: {{ free_size|formatBytes }}</strong>
            </div>

        </div>

    </section>


    <section class="section" style="display: none;">

        <div class="section-title"><h1>Hook</h1></div>

        <div class="section-content">
        
        <form method="post" action="hook.php">
            <textarea class="input" name="json"></textarea>
            <br><button class="button" type="submit">Hook</button>
        </form>

        </div>

    </section>

    {# logs #}
    <section class="section">

        <div class="section-title"><h1>Logs</h1></div>

        <div class="section-content">

            <div class="log_viewer">
                
                {% for line in log_lines %}

                    <div class="log_{{ line.level|lower }}">{{ line.date_string }} &lt;{{ line.level }}&gt; {{ line.text }}</div>

                {% endfor %}

            </div>

        </div>

    </section>

    <div id="js-status"></div>

</div>

{% endblock %}
