{% extends "base.twig" %}

{% block content %}

    <div class="container">

        <section class="section">

            <div class="section-title"><h1>Streamers</h1></div>

            <div class="section-content">

                {% for streamer in streamers %}

                    <div class="settings-streamer">
                        <h2>{{ streamer.username }}</h2>
                        <form method="POST" action="{{ url_for('streamer_update') }}">
                            <input type="hidden" name="key" value="{{ loop.index }}" />
                            <input type="hidden" name="username" value="{{ streamer.username }}" />
                            
                            <div class="field">
                                <label class="label">Quality</label>
                                <div class="control">
                                    <input class="input input-required" type="text" name="quality" value="{{ streamer.quality|join(" ") }}" />
                                    <p class="input-help">Separate by spaces, e.g. best 1080p 720p audio_only</p>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Match keywords</label>
                                <div class="control">
                                    <input class="input" type="text" name="match" value="{{ streamer.match|join(",") }}" />
                                    <p class="input-help">Separate by commas, e.g. christmas,media share,opening,po box</p>
                                </div>
                            </div>

                            <div class="field">
                                <label class="checkbox">
                                    <input class="input" type="checkbox" name="download_chat" value="1" {{ streamer.download_chat ? 'checked="checked"' : '' }} />
                                    Download chat
                                </label>
                            </div>

                            <div class="field">
                                <label class="checkbox">
                                    <input class="input" type="checkbox" name="burn_chat" value="1" {{ streamer.burn_chat ? 'checked="checked"' : '' }} />
                                    Burn chat after downloading
                                </label>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button class="button is-confirm" type="submit"><span class="icon"><i class="fa fa-user-plus"></i></span> Save</button>
                                </div>
                            </div>

                        </form>
                        <form method="POST" action="{{ url_for('streamer_delete') }}">
                            <input type="hidden" name="key" value="{{ loop.index }}" />
                            <input type="hidden" name="username" value="{{ streamer.username }}" />
                            <button class="button is-danger" type="submit"><span class="icon"><i class="fa fa-trash"></i></span> Delete</button> (no undo, no confirmation)
                        </form>
                    </div>

                {% endfor %}

            </div>

        </section>

        <section class="section">

            <div class="section-title"><h1>New streamer</h1></div>

            <div class="section-content">

                <form method="POST" action="{{ url_for('streamer_add') }}">
                    <div class="field">
                        <label class="label">Username <span class="required">*</span></label>
                        <div class="control">
                            <input class="input input-required" type="text" name="username" value="" />
                            <p class="input-help">Streamer username, case sensitive</p>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Quality <span class="required">*</span></label>
                        <div class="control">
                            <label><input class="input input-required" type="text" name="quality" value="" />
                            <p class="input-help">Separate by spaces, e.g. best 1080p 720p audio_only</p>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Match keywords</label>
                        <div class="control">
                            <label><input class="input" type="text" name="match" value="" />
                            <p class="input-help">Separate by commas, e.g. christmas,media share,opening,po box</p>
                        </div>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" name="download_chat" value="1" />
                            Download chat
                        </label>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" name="burn_chat" value="1" />
                            Burn chat after downloading
                        </label>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-confirm" type="submit"><span class="icon"><i class="fa fa-user-plus"></i></span> Add</button>
                        </div>
                    </div>
                </form>
                
            </div>

        </section>

        <section class="section">

            <div class="section-title"><h1>Settings</h1></div>

            <div class="section-content">

                <form method="POST" action="{{ url_for('settings_save') }}">
                    {% for setting in settings %}
                        <div class="field">
                            {% if setting.type == "boolean" %}
                                <label class="checkbox">
                                    <input type="checkbox" name="{{ setting.key }}" id="input_{{ setting.key }}" {{ config[setting.key] ? 'checked="checked"' : '' }} />
                                    {{ setting.text }}
                                </label>
                            {% else %}
                                <label class="label" for="input_{{ setting.key }}">{{ setting.text }} {% if setting.required %}<span class="required">*</span>{% endif %}</label>
                                <div class="control">
                                    {% if setting.type == "string" %}
                                        <input class="input{{ setting.required ? ' input-required' : '' }}" type="text" id="input_{{ setting.key }}" name="{{ setting.key }}" value="{{ setting.secret ? '' : ( config[setting.key] ?: setting.default ) }}" />
                                    {% elseif setting.type == "number" %}
                                        <input class="input{{ setting.required ? ' input-required' : '' }}" type="number" id="input_{{ setting.key }}" name="{{ setting.key }}" value="{{ setting.secret ? '' : ( config[setting.key] ?: setting.default ) }}" />
                                    {% elseif setting.type == "array" %}
                                        <select name="{{ setting.key }}" id="input_{{ setting.key }}" class="input{{ setting.required ? ' required' : '' }}">
                                            {% for option in setting.choices %}
                                                <option {{ config[setting.key] ? ( config[setting.key] == option ) : ( setting.default == option ) ? 'selected="selected"' : '' }}>{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="control">
                        <button class="button is-confirm" type="submit"><span class="icon"><i class="fa fa-save"></i></span> Save</button>
                    </div>
                </form>

                <hr>

                <p>Check the status of the external utilities on the <a href="{{ url_for('about') }}">about</a> page.

                <hr>

                <strong>Crontab example (run every week at 5am)</strong><br>
                {% if sub_callback %}
                    <code>0 5 * * 1 curl {{ sub_callback }}</code>
                {% else %}
                    <em class="error">Can't show example, hook callback has not been set</em>
                {% endif %}
                
            </div>

        </section>

        <section class="section">

            <div class="section-title"><h1>Favourite games</h1></div>

            <div class="section-content">

                <form method="POST" action="{{ url_for('favourites_save') }}">
                    
                    <div class="favourites_list">
                        {% for id, game in games|sort %}
                        <div class="control">
                            <label><input type="checkbox" name="games[{{ id }}]" {{ config.favourites[id] ? 'checked="checked"' : '' }} /> {{ game.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <div class="control">
                        <button class="button is-confirm" type="submit"><span class="icon"><i class="fa fa-save"></i></span> Save</button>
                    </div>
                </form>
                
            </div>

        </section>

    </div>

{% endblock %}
