{% extends "base.twig" %}

{% block content %}

    <div class="container">

        <section class="section">

            <div class="section-title"><h1>Streamers</h1></div>

            <div class="section-content">

                {% for streamer in streamers %}

                    <div class="card">
                        <div class="card-title"><h2>{{ streamer.username }}</h2></div>
                        <div class="card-content">
                            <form method="POST" action="{{ url_for('api_channels_update') }}">
                            
                                <input type="hidden" name="username" value="{{ streamer.username }}" />
                                
                                <div class="field">
                                    <label class="label" for="input_{{ streamer.username }}_quality">Quality</label>
                                    <div class="control">
                                        <input class="input input-required" type="text" name="quality" id="input_{{ streamer.username }}_quality" value="{{ streamer.quality|join(" ") }}" />
                                        <p class="input-help">Separate by spaces, e.g. best 1080p 720p audio_only</p>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="input_{{ streamer.username }}_match">Match keywords</label>
                                    <div class="control">
                                        <input class="input" type="text" name="match" id="input_{{ streamer.username }}_match" value="{{ streamer.match|join(",") }}" />
                                        <p class="input-help">Separate by commas, e.g. christmas,media share,opening,po box</p>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="checkbox">
                                        <input class="input" type="checkbox" name="download_chat" value="1" {{ streamer.download_chat ? 'checked="checked"' : '' }} />
                                        Download chat after video capture is complete
                                    </label>
                                </div>

                                <div class="field">
                                    <label class="checkbox">
                                        <input class="input" type="checkbox" name="burn_chat" value="1" {{ streamer.burn_chat ? 'checked="checked"' : '' }} />
                                        Burn chat after downloading
                                    </label>
                                </div>

                                <div class="field">
                                    <div class="control">
                                        <button class="button is-confirm" type="submit"><span class="icon"><i class="fa fa-save"></i></span> Save</button>
                                    </div>
                                </div>

                            </form>
                            <hr>
                            <form method="POST" action="{{ url_for('api_channels_delete') }}">
                                <input type="hidden" name="key" value="{{ loop.index }}" />
                                <input type="hidden" name="username" value="{{ streamer.username }}" />
                                <button class="button is-danger" type="submit"><span class="icon"><i class="fa fa-trash"></i></span> Delete</button> (no undo, no confirmation)
                            </form>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </section>

        <section class="section">

            <div class="section-title"><h1>New streamer</h1></div>

            <div class="section-content">

                <form method="POST" action="{{ url_for('api_channels_add') }}">
                    <div class="field">
                        <label class="label">Username <span class="required">*</span></label>
                        <div class="control">
                            <input class="input input-required" type="text" name="username" value="" />
                            <p class="input-help">Streamer username, case sensitive</p>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Quality <span class="required">*</span></label>
                        <div class="control">
                            <label><input class="input input-required" type="text" name="quality" value="" />
                            <p class="input-help">Separate by spaces, e.g. best 1080p 720p audio_only</p>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Match keywords</label>
                        <div class="control">
                            <label><input class="input" type="text" name="match" value="" />
                            <p class="input-help">Separate by commas, e.g. christmas,media share,opening,po box</p>
                        </div>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" name="download_chat" value="1" />
                            Download chat after video capture is complete
                        </label>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" name="burn_chat" value="1" />
                            Burn chat after downloading
                        </label>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-confirm" type="submit"><span class="icon"><i class="fa fa-user-plus"></i></span> Add</button>
                        </div>
                    </div>
                </form>
                
            </div>

        </section>

        <section class="section">

            <div class="section-title"><h1>Settings</h1></div>

            <div class="section-content">

                <form method="POST" action="{{ url_for('api_settings_save') }}">

                    <!--
                    <div class="fieldset-tabs">
                        {% for index, category in settings %}
                            <button type="button" data-select-tab="{{ index }}">{{ index }}</button>
                        {% endfor %}
                    </div>
                    -->

                    {% for index, category in settings %}
                        {% if category|length > 0 %}
                            <details class="settings-details">
                            <summary>{{ index }}</summary>
                            {% for setting in category %}
                                <div class="field">
                                    {% if setting.type == "boolean" %}
                                        <label class="checkbox">
                                            <input type="checkbox" name="{{ setting.key }}" id="input_{{ setting.key }}" {{ config[setting.key] ? 'checked="checked"' : '' }} />
                                            {{ setting.text }}
                                        </label>
                                    {% else %}
                                        <label class="label" for="input_{{ setting.key }}">{{ setting.text }} {% if setting.required %}<span class="required">*</span>{% endif %}</label>
                                        <div class="control">
                                            {% if setting.type == "string" %}
                                                <input class="input{{ setting.required ? ' input-required' : '' }}" type="text" id="input_{{ setting.key }}" name="{{ setting.key }}" value="{{ setting.secret ? '' : ( config[setting.key] ?: setting.default ) }}" />
                                            {% elseif setting.type == "number" %}
                                                <input class="input{{ setting.required ? ' input-required' : '' }}" type="number" id="input_{{ setting.key }}" name="{{ setting.key }}" value="{{ setting.secret ? '' : ( config[setting.key] ?: setting.default ) }}" />
                                            {% elseif setting.type == "array" %}
                                                <select name="{{ setting.key }}" id="input_{{ setting.key }}" class="input{{ setting.required ? ' required' : '' }}">
                                                    {% for option in ( setting.choices is iterable ? setting.choices : _context[setting.choices] ) %}
                                                        <option{% if config[setting.key] == option or ( not config[setting.key] and setting.default == option ) %} selected="selected"{% endif %}>{{ option }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if setting.help %}
                                        <p class="input-help">{{ setting.help }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            </details>
                        {% endif %}
                    {% endfor %}
                    
                    <br>
                    
                    <div class="control">
                        <button class="button is-confirm" type="submit"><span class="icon"><i class="fa fa-save"></i></span> Save</button>
                    </div>

                </form>

                <hr>
                    <strong>Guessed app url</strong>
                    <code>{{ app_calc }}</code>

                    <span class="input-help">This might not be correct. Please enter it manually, and take proxies and custom port numbers into consideration.</span>
                <hr>

                <p>Check the status of the external utilities on the <a href="{{ url_for('about') }}">about</a> page.

                {% if not is_docker %}

                <hr>

                <strong>Crontab example</strong><br>
                <span class="input-help">The Slim framework doesn't have a good way to execute code from the command line, so you'll have to set up cron manually.</span>
                {% if config.app_url %}
                    <code>
                        0  5    * * 1 curl {{ config.app_url }}/cron/sub<br>
                        0  */12 * * * curl {{ config.app_url }}/cron/check_muted_vods<br>
                        10 */12 * * * curl {{ config.app_url }}/cron/check_deleted_vods<br>
                        0  1    * * * curl {{ config.app_url }}/cron/playlist_dump
                    </code>
                    <span class="input-help">This will subscribe to the webhook every 5 days, check muted &amp; deleted vods every 12 hours, and dump playlists once per day.</span>
                {% else %}
                    <em class="is-error">Can't show example, <strong>app url</strong> has not been set</em>
                {% endif %}

                {% endif %}
                
            </div>

        </section>

        <section class="section">

            <div class="section-title"><h1>Favourite games</h1></div>

            <div class="section-content">

                <form method="POST" action="{{ url_for('api_favourites_save') }}">
                    
                    <div class="favourites_list">
                        {% for id, game in games|sort %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="games[{{ id }}]" {{ config.favourites[id] ? 'checked="checked"' : '' }} />
                                {{ game.name }}
                                <span class="is-gray">{{ game.added|date("Y-m-d") }}</span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <div class="control">
                        <button class="button is-confirm" type="submit"><span class="icon"><i class="fa fa-save"></i></span> Save</button>
                    </div>
                </form>
                
            </div>

        </section>

    </div>

{% endblock %}
