{% extends "base.twig" %}

{% block content %}

    <div class="container">

        <section class="section">

            <div class="section-title"><h1>Streamers</h1></div>

            <div class="section-content">

                {% for streamer in streamers %}

                    <div>
                        <h2>{{ streamer.username }}</h2>
                        <form method="POST" action="{{ url_for('streamer_update') }}">
                            <input type="hidden" name="key" value="{{ loop.index }}" />
                            <input type="hidden" name="username" value="{{ streamer.username }}" />
                            <div class="control">
                                <label><input class="input" type="text" name="quality" value="{{ streamer.quality|join(" ") }}" /> Quality</label>
                                <div class="input-help">Separate by spaces, e.g. best 1080p 720p audio_only</div>
                            </div>
                            <div class="control">
                                <label><input class="input" type="text" name="match" value="{{ streamer.match }}" /> Match keywords</label>
                                <div class="input-help">Separate by commas, e.g. christmas,media share,opening,po box</div>
                            </div>
                            <div class="control">
                                <label><input class="input" type="checkbox" name="download_chat" value="1" {{ streamer.download_chat ? 'checked="checked"' : '' }} /> Download chat</label><br><br>
                            </div>
                            <div class="control">
                                <button class="button is-confirm" type="submit">Save</button>
                            </div>
                        </form>
                        <form method="POST" action="{{ url_for('streamer_delete') }}">
                            <input type="hidden" name="key" value="{{ loop.index }}" />
                            <input type="hidden" name="username" value="{{ streamer.username }}" />
                            <button class="button is-danger" type="submit">Delete</button> (no undo, no confirmation)
                        </form>
                    </div>

                    <hr />

                {% endfor %}

            </div>

        </section>

        <section class="section">

            <div class="section-title"><h1>New streamer</h1></div>

            <div class="section-content">

                <form method="POST" action="{{ url_for('streamer_add') }}">
                    <div class="control">
                        <label><input class="input" type="text" name="username" value="" /> Username</label>
                        <div class="input-help">Streamer username, preferably case sensitive</div>
                    </div>
                    <div class="control">
                        <label><input class="input" type="text" name="quality" value="" /> Quality</label>
                        <div class="input-help">Separate by spaces, e.g. best 1080p 720p audio_only</div>
                    </div>
                    <div class="control">
                        <label><input class="input" type="text" name="match" value="" /> Match keywords</label>
                        <div class="input-help">Separate by commas, e.g. christmas,media share,opening,po box</div>
                    </div>
                    <div class="control">
                        <label><input class="input" type="checkbox" name="download_chat" value="1" /> Download chat</label><br><br>
                    </div>
                    <div class="control">
                        <button class="button is-confirm" type="submit">Add</button>
                    </div>
                </form>
                
            </div>

        </section>

        <section class="section">

            <div class="section-title"><h1>Settings</h1></div>

            <div class="section-content">

                <form method="POST" action="{{ url_for('settings_save') }}">
                    {% for setting in settings %}
                        <div class="control">
                            <label>
                                {% if setting.type == "string" %}
                                    <input class="input" type="text" name="{{ setting.key }}" value="{{ setting.secret ? '' : config[setting.key] }}" />
                                {% elseif setting.type == "number" %}
                                    <input class="input" type="number" name="{{ setting.key }}" value="{{ setting.secret ? '' : config[setting.key] }}" />
                                {% elseif setting.type == "boolean" %}
                                    <input type="checkbox" name="{{ setting.key }}" {{ config[setting.key] ? 'checked="checked"' : '' }} />
                                {% elseif setting.type == "array" %}
                                    <select name="{{ setting.key }}">
                                        {% for option in setting.choices %}
                                            <option {{ config[setting.key] == option ? 'selected="selected"' : '' }}>{{ option }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                                {{ setting.text }}
                            </label>
                        </div>
                    {% endfor %}
                    <div class="control">
                        <button class="button is-confirm" type="submit">Save</button>
                    </div>
                </form>

                <hr>

                <p>Check the status of the external utilities on the <a href="{{ url_for('about') }}">about</a> page.

                <hr>

                <strong>Crontab example (run every week at 5am)</strong><br>
                <code>0 5 * * 1 curl {{ sub_callback }}</code>
                
            </div>

        </section>

        <section class="section">

            <div class="section-title"><h1>Favourite games</h1></div>

            <div class="section-content">

                <form method="POST" action="{{ url_for('favourites_save') }}">
                    
                    <div class="favourites_list">
                        {% for id, game in games|sort %}
                        <div class="control">
                            <label><input type="checkbox" name="games[{{ id }}]" {{ config.favourites[id] ? 'checked="checked"' : '' }} /> {{ game.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <div class="control">
                        <button class="button is-confirm" type="submit">Save</button>
                    </div>
                </form>
                
            </div>

        </section>

    </div>

{% endblock %}
