<div class="side-menu">
    <div class="top-menu-item title">
        <a href="{{ url_for('dashboard') }}">
            <img src="{{ base_path() }}/assets/favicon.png" class="favicon"><span class="title">{{ config.app_name }} {{ app_version }} {% if debug %}(debug)</span>{% endif %}
        </a>
    </div>

    {% if streamerList %}

        {% for streamer in streamerList|sort((a, b) => a.display_name > b.display_name) %}

            <div class="top-menu-item{{ streamer.is_live ? ' is-live' : '' }} streamer" data-streamer="{{ streamer.display_name }}">
                
                <a href="#streamer_{{ streamer.display_name }}">

                    <span class="username">{{ streamer.display_name }}</span>
                    <span class="vodcount">{{ streamer.vods_list|length }}</span>
                    <span class="subtitle">
                        {% if streamer.is_live %}
                            
                            {% if streamer.current_game.game_name == 'Just Chatting' or streamer.current_game.game_name == 'IRL' or streamer.current_game.game_name == 'Art' %}
                                <strong>{{ streamer.current_game.game_name }}</strong>
                            {% else %}
                                Playing <strong>{{ streamer.current_game.game_name }}</strong>
                            {% endif %}

                            for <span id="duration_{{ streamer.display_name }}">{{ streamer.current_vod.duration_live|humanDuration }}</span>

                        {% elseif streamer.is_converting %}
                            Converting...
                        {% else %}
                            {# Offline #}
                        {% endif %}
                    </span>

                </a>

            </div>

            <div class="top-menu-item streamer-jumpto">
                <ul>
                {% for vodclass in streamer.vods_list %}
                    <li>
                        <a href="#vod_{{ vodclass.basename }}" data-basename="{{ vodclass.basename }}" class="{{ html_classes({
                                'is-favourite': vodclass.hasFavouriteGame,
                                'is-live': vodclass.is_capturing,
                                'is-converting': vodclass.is_converting,
                                'is-waiting': not vodclass.is_capturing and not vodclass.is_converting and not vodclass.is_finalized
                            }) }}" title="{{ vodclass.started_at|date('Y-m-d H:i:s') }}">
                            {# <span class="icon is-active"><i class="fa fa-arrow-circle-right"></i></span> #}
                            {% if vodclass.is_capturing %}
                                <span class="icon"><i class="fa fa-sync fa-spin"></i></span>
                            {% elseif vodclass.is_converting %}
                                <span class="icon"><i class="fa fa-cog fa-spin"></i></span>
                            {% elseif vodclass.hasFavouriteGame %}
                                <span class="icon"><i class="fa fa-star"></i></span>
                            {% elseif not vodclass.is_capturing and not vodclass.is_converting and not vodclass.is_finalized %}
                                <span class="icon"><i class="far fa-hourglass"></i></span>
                            {% else %}
                                <span class="icon"><i class="fa fa-film"></i></span>
                            {% endif %}
                            {% if not config.relative_time and vodclass.started_at %}{{ vodclass.started_at|date('Y-m-d H:i:s') }}{% endif %}
                            {% if config.relative_time and vodclass.started_at %}{{ vodclass.started_at|humanDate }}{% endif %}
                            {% if vodclass.is_capturing %}
                                {% if vodclass.duration_live %}&middot; ({{ config.relative_time ? vodclass.duration_live|humanRealDuration : vodclass.duration_live|humanDuration }}+){% endif %}
                                {% if vodclass.getRecordingSize %}&middot; {{ vodclass.getRecordingSize|formatBytes }}+{% endif %}
                            {% else %}
                                {% if vodclass.duration_seconds %}&middot; ({{ config.relative_time ? vodclass.duration_seconds|humanRealDuration : vodclass.duration_seconds|humanDuration }}){% endif %}
                                {% if vodclass.total_size %}&middot; {{ vodclass.total_size|formatBytes }}{% endif %}
                            {% endif %}
                            <div class="tooltip">
                                <div class="boxart-carousel">
                                    {% for game in vodclass.getUniqueGames %}
                                        {% if game.name %}<img class="boxart-big" title="{{ game.name }}" src="{{ game.image_url }}" />{% endif %}
                                    {% endfor %}
                                </div>
                                <p>{{ vodclass.stream_title }}</p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>

        {% endfor %}

    {% endif %}

    <div class="top-menu-item divider"></div>

    <div class="menu-bottom">
        <div class="top-menu-item icon right{{ is_current_url('dashboard') ? ' active' : '' }}">
            <a href="{{ url_for('dashboard') }}" title="Dashboard"><i class="fa fa-tachometer-alt"></i></a>
        </div>
        <div class="top-menu-item icon right">
            <a href="javascript:window.forceRefresh();" title="Refresh"><i class="fa fa-sync"></i></a>
        </div>
        <div class="top-menu-item icon right">
            <a href="javascript:notifyMe();" title="Notify"><i class="fa fa-bell"></i></a>
        </div>
        <div class="top-menu-item icon right{{ is_current_url('settings') ? ' active' : '' }}">
            <a href="{{ url_for('settings') }}" title="Settings"><i class="fa fa-cog"></i></a>
        </div>
        <div class="top-menu-item icon right{{ is_current_url('about') ? ' active' : '' }}">
            <a href="{{ url_for('about') }}" title="About"><i class="fa fa-info-circle"></i></a>
        </div>
        <div class="top-menu-item icon right">
            <a class="linkback" href="https://github.com/MrBrax/TwitchAutomator" target="_blank" rel="noreferrer" title="GitHub"><i class="fab fa-github"></i></a>
        </div>
    </div>
</div>