<div class="top-menu-item title">
    <a href="{{ url_for('dashboard') }}">
        <img src="{{ base_path() }}/assets/favicon.png" class="favicon"> {{ config.app_name }} {% if debug %}(debug){% endif %}
    </a>
</div>

{% if streamerList %}

    {% for streamer in streamerList %}

        <div class="top-menu-item{{ streamer.is_live ? ' live' : '' }} streamer" data-streamer="{{ streamer.username }}">
            
            {% if streamer.is_live %}
                <a href="#vod_{{ streamer.current_vod.basename }}">
            {% else %}
                <a href="#streamer_{{ streamer.username }}">
            {% endif %}

                <span class="username">{{ streamer.username }}</span>
                <span class="vodcount">{{ streamer.vods_list|length }}</span>
                <span class="subtitle">

                    {% if streamer.is_live %}
                        
                        {% if streamer.current_vod.game_name == 'Just Chatting' or streamer.current_vod.game_name == 'IRL' or streamer.current_vod.game_name == 'Art' %}
                            <strong>{{ streamer.current_vod.getCurrentGame.game_name }}</strong>
                        {% else %}
                            Playing <strong>{{ streamer.current_vod.getCurrentGame.game_name }}</strong>
                        {% endif %}

                    {% else %}

                        Offline

                    {% endif %}

                </span>

            </a>

        </div>

    {% endfor %}

{% endif %}

<div class="top-menu-item divider"></div>

<div class="top-menu-item right{{ is_current_url('dashboard') ? ' active' : '' }}">
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
</div>
<div class="top-menu-item right{{ is_current_url('settings') ? ' active' : '' }}">
    <a href="{{ url_for('settings') }}">Settings</a>
</div>
<div class="top-menu-item right{{ is_current_url('about') ? ' active' : '' }}">
    <a href="{{ url_for('about') }}">About</a>
</div>
<div class="top-menu-item right">
    <a class="linkback" href="https://github.com/MrBrax/TwitchAutomator" target="_blank" rel="noreferrer">GitHub</a>
</div>