<div class="streamer-box" data-streamer="{{ streamer.display_name }}">

    <div id="streamer_{{ streamer.display_name }}" class="anchor"></div>

    <div class="streamer-title{{ streamer.is_live ? ' is-live' : '' }}">
        <div class="streamer-title-avatar" style="background-image: url({{ streamer.profile_image_url }})"></div>
        <div class="streamer-title-text">
            <h2>
                <a href="https://twitch.tv/{{ streamer.display_name }}" rel="noreferrer" target="_blank">
                    {{ streamer.display_name }}
                </a>
                {% if streamer.is_live %}
                        <span class="live">live</span>
                {% endif %}
            </h2>
            <span class="small">
                <span class="streamer-vods-quality help" title="Quality">{{ streamer.quality|join(", ") }}</span>
                 &middot; <span class="streamer-vods-amount">{{ streamer.vods_list|length }} vods</span>
                 &middot; <span class="streamer-vods-size">{{ streamer.vods_size|formatBytes }}</span>
                 {% if streamer.is_live %}
                 &middot; <a href="{{ url_for('abort_record', { 'username': streamer.display_name }) }}">abort record</a>
                 {% else %}
                 &middot; <a href="{{ url_for('force_record', { 'username': streamer.display_name }) }}">force record</a>
                 {% endif %}
            </span>
        </div>
    </div>

    <div class="streamer-jumpto">
        <ul>
        {% for vodclass in streamer.vods_list %}
            <li>
                <a href="#vod_{{ vodclass.basename }}" class="{{ vodclass.hasFavouriteGame ? ' favourite' : '' }}{{ vodclass.is_recording ? ' live' : '' }}">
                    {% if vodclass.started_at %}{{ vodclass.started_at|date('Y-m-d H:i:s') }}{% endif %}
                    {% if vodclass.duration_seconds %}({{ vodclass.duration_seconds|humanDuration }}){% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>

    {% if streamer.vods_list|length == 0 %}

        <div class="notice">None</div>

    {% else %}
        
        {% for vodclass in streamer.vods_list %}

            {% include 'components/vod.twig' %}

        {% endfor %}

    {% endif %}

</div>
