{% if not vodclass %}
    <div class="error">Failed to load {{ vodclass.basename }}</div>
{% else %}

    <div class="video {{ vodclass.is_recording ? 'recording' : '' }} {{ vodclass.is_converted ? 'converted' : '' }}">

        <div id="vod_{{ vodclass.basename }}" class="anchor"></div>

        {# title #}
        <div class="video-title">
            <h3>
                {{ vodclass.streamer_name }}
                {% if vodclass.started_at %} {{ vodclass.started_at|date('Y-m-d H:i:s') }} {% endif %}
            </h3>
        </div>

        {# description #}
        <div class="video-description">

            {# box art #}
            <div class="boxart-carousel">
                
                {% for game in vodclass.getUniqueGames %}
                    <img class="boxart-big" title="{{ game.name }}" src="{{ game.image_url }}" />
                {% endfor %}

            </div>
            
            {# video info #}
            {% if vodclass.is_converted %}
                
                <strong>Segment 0 info:</strong>
                
                <ul class="video-info">
                    <li><strong>Webhook duration:</strong> {{ vodclass.getWebhookDuration }} </li>	
					<li><strong>File duration:</strong> {{ vodclass.getDuration(true)|humanDuration }}</li>
                    <li>				
                        <strong>Twitch VOD duration:</strong>
                        {% if vodclass.twitch_vod_duration %}
                            {{ vodclass.twitch_vod_duration|humanDuration }}
                        {% else %}
                            <strong><em>No data</em></strong>
                        {% endif %}
					</li>
                    <li>
						<strong>Missing from captured file:</strong>	
						{% if vodclass.twitch_vod_duration %}				
							{{ (vodclass.twitch_vod_duration - vodclass.getDuration(true))|humanDuration }}
						{% else %}
                            <strong><em>No data</em></strong>
                        {% endif %}

					</li>
                    <li><strong>Size:</strong> {{ vodclass.segments[0].filesize|formatBytes }}</li>
                    <li>		
                        <strong>Twitch VOD id:</strong> 
                    
                        {% if vodclass.twitch_vod_url %}	
                            
                            <a href="{{ vodclass.twitch_vod_url }}" rel="noreferrer" target="_blank">{{ vodclass.twitch_vod_id }}</a>

                            {% if checkvod %}
                                
                                {% if vodclass.twitch_vod_exists %}
                                    (exists)
                                {% else %}
                                    <strong class="error">(deleted)</strong>
                                {% endif %}

                            {% endif %}

                        {% else %}
                            <strong><em>Not matched or VOD deleted</em></strong>
                        {% endif %}

                    </li>
                    <li>			
                        <strong>Twitch VOD date:</strong>
                        {% if vodclass.twitch_vod_date %}
                            {{ vodclass.twitch_vod_date }}
                        {% else %}
                            <strong><em>No data</em></strong>
                        {% endif %}
                    </li>
                    <li>				
                        <strong>Twitch VOD title:</strong> 
                         {% if vodclass.twitch_vod_title %}
                            {{ vodclass.twitch_vod_title }}
                        {% else %}
                            <strong><em>No data</em></strong>
                        {% endif %}
                    </li>
                    <li><strong>Chat downloaded:</strong> {{ vodclass.is_chat_downloaded ? 'Yes' : 'No' }}</li>
                </ul>

                <strong>Segments:</strong>
                <ul>
                    {% for segment in vodclass.segments %}
                        <li>
                            <a href="vods/{{ segment.basename }}">
                                {{ segment.basename }}
                                 ({{ segment.filesize|formatBytes }})
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            {% endif %}
            

        </div>

        {# controls #}
        <div class="video-controls">

            {% if vodclass.is_converted %}

                <a class="button" href="/player?vod={{ vodclass.basename }}">Play segment 0 and cut</a>

                <a class="button" href="vods/{{ vodclass.basename }}.json">JSON</a>

                <a class="button" href="/save?vod={{ vodclass.basename }}">Save from deletion</a>

                <a class="button is-danger" href="/delete?vod={{ vodclass.basename }}">Delete</a>

                {% if vodclass.twitch_vod_id and not vodclass.is_chat_downloaded %}
                    <a class="button" href="/chat?vod={{ vodclass.basename }}">Download chat</a>
                {% endif %}

            {% elseif vodclass.is_recording %}

                {% if vodclass.ended_at %}
                    <a class="button" href="/convert?vod='{{ vodclass.basename }}">Convert</a>
                {% endif %}

                <em>Capturing...</em>

            {% else %}
                
                <em>No video file</em>

            {% endif %}

        </div>
        
        {# game list / chapters #}
        <table class="table game-list">

            <thead>
                <tr>
                    <th>Offset</th>
                    <th>Duration</th>
                    <th>Game</th>
                    <th>Title</th>
                    <th>Viewers</th>
                </tr>
            </thead>

            <tbody>

                {% for chapter in vodclass.chapters %}

                    <!-- GAME: <pre>{{ dump(chapter) }}</pre> -->

                    <tr>
                        
                        {# start timestamp #}
                        <td>
                            {{ chapter.strings.started_at }}
                        </td>

                        {# duration #}
                        <td>
                            <span class="grey">
                                {% if chapter.duration %}
                                    {{ chapter.strings.duration }}
                                {% else %}
                                    Active
                                {% endif %}
                            </span>
                        </td>

                        {# chapter name #}
                        <td>
                            <img class="boxart" src="{{ chapter.box_art_url }}" />

                            {% if vodclass.is_converted %}
                                <a href="player.php?vod={{ vodclass.basename }}&start={{ chapter.offset }}">
                                    {{ chapter.game_name }}
                                </a>
                            {% else %}
                                {{ chapter.game_name }}
                            {% endif %}

                        </td>

                        {# title #}
                        <td>{{ chapter.title }}</td>

                        <td>
                            <span class="grey">{{ chapter.viewer_count|number_format }}</span>
                        </td>

                    </tr>

                {% endfor %}

                {% if vodclass.ended_at %}
                    
                    <tr>
                        <td>
                            {{ vodclass.getWebhookDuration }}
                        </td>
                        <td colspan="4">
                            <em>END</em>
                        </td>
                    </tr>
                    
                {% else %}
                    
                    <tr>
                        {% if vodclass.started_at %}
                            <!--
                            $diff = $vodclass->started_at->diff( new DateTime() );
                            <td>' . $diff->format('%H:%I:%S') . '</td>
                            -->
                        {% endif %}
                        <td colspan="4"><em><strong>ONGOING</strong></em></td>
                    </tr>
                    
                {% endif %}

            </tbody>

        </table>

    </div>

{% endif %}