{% if not vodclass %}
    <div class="error">Failed to load {{ vodclass.basename }}</div>
{% else %}

    <div class="video{{ vodclass.is_capturing ? ' recording' : '' }}{{ vodclass.is_converting ? ' converting' : '' }}{{ vodclass.is_finalized ? ' finalized' : '' }}" data-basename="{{ vodclass.basename }}">

        <div id="vod_{{ vodclass.basename }}" class="anchor"></div>

        {# title #}
        <div class="video-title">
            <h3>
                {{ vodclass.streamer_name }}
                {% if vodclass.started_at %} {{ vodclass.started_at|date('Y-m-d H:i:s') }} {% endif %}
            </h3>
        </div>

        {# description #}
        <div class="video-description">

            {# box art #}
            <div class="boxart-carousel">
                {% for game in vodclass.getUniqueGames %}
                    {% if game.name %}<img class="boxart-big" title="{{ game.name }}" src="{{ game.image_url }}" />{% endif %}
                {% endfor %}
            </div>
            
            {# video info #}
            {% if vodclass.is_finalized %}
                
                <!-- <strong>Segment 0 info:</strong> -->

                <div class="info-columns">
                    <div class="info-column">
                        <ul class="video-info">
                            <li><strong>Webhook duration:</strong> {{ vodclass.getWebhookDuration }}</li>
                            <li><strong>Twitch start:</strong> {{ vodclass.started_at|date('Y-m-d H:i:s') }}</li>
                            {% if vodclass.dt_capture_started %}
                            <li><strong>Capture start:</strong> {{ vodclass.dt_capture_started|date('Y-m-d H:i:s') }}</li>
                            <li><strong>Conversion start:</strong> {{ vodclass.dt_conversion_started|date('Y-m-d H:i:s') }}</li>	
                            {% endif %}
                            <li>
                                <strong>Missing from captured file:</strong>	
                                {% if vodclass.twitch_vod_duration %}				
                                    {{ (vodclass.twitch_vod_duration - vodclass.getDuration(true))|humanDuration }}
                                {% else %}
                                    <strong><em>No data</em></strong>
                                {% endif %}
                            </li>
                            <li><strong>Chat downloaded:</strong> {{ vodclass.is_chat_downloaded ? 'Yes' : 'No' }}</li>
                            <li><strong>Chat rendered:</strong> {{ vodclass.is_chat_rendered ? 'Yes' : 'No' }}</li>
                            <li><strong>Chat burned:</strong> {{ vodclass.is_chat_burned ? 'Yes' : 'No' }}</li>                            
                        </ul>
                    </div>
                    <div class="info-column">
                        <ul class="video-info">
                            <li><strong>File duration:</strong> {{ vodclass.getDuration(true)|humanDuration }}</li>
                            <li><strong>Size:</strong> {{ vodclass.segments[0].filesize|formatBytes }}</li>
                            {% if vodclass.video_metadata %}
                            <li><strong>Dimensions:</strong> {{ vodclass.video_metadata.video.Width }}x{{ vodclass.video_metadata.video.Height }}</li>
                            <li><strong>Framerate:</strong> {{ vodclass.video_metadata.video.FrameRate_Mode }} {{ vodclass.video_metadata.video.FrameRate_Original ?: vodclass.video_metadata.video.FrameRate }}</li>
                            <li><strong>Video:</strong> {{ vodclass.video_metadata.video.Format }} {{ vodclass.video_metadata.video.BitRate_Mode }} {{ (vodclass.video_metadata.video.BitRate / 1000)|round }}kbps</li>
                            <li><strong>Audio:</strong> {{ vodclass.video_metadata.audio.Format }} {{ vodclass.video_metadata.audio.BitRate_Mode }} {{ (vodclass.video_metadata.audio.BitRate / 1000)|round }}kbps</li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="info-column">
                        <ul class="video-info">
                            <li>
                                <strong>Twitch VOD duration:</strong>
                                {% if vodclass.twitch_vod_duration %}
                                    {{ vodclass.twitch_vod_duration|humanDuration }}
                                {% else %}
                                    <strong><em>No data</em></strong>
                                {% endif %}
                            </li>
                            <li>
                                <strong>Twitch VOD id:</strong> 
                                {% if vodclass.twitch_vod_url %}	
                                    
                                    <a href="{{ vodclass.twitch_vod_url }}" rel="noreferrer" target="_blank">{{ vodclass.twitch_vod_id }}</a>

                                    {% if checkvod %}
                                        
                                        {% if vodclass.twitch_vod_exists %}
                                            (exists)
                                        {% else %}
                                            <strong class="error">(deleted)</strong>
                                        {% endif %}

                                    {% endif %}

                                {% else %}
                                    <strong><em>Not matched or VOD deleted</em></strong>
                                {% endif %}
                            </li>
                            <li>
                                <strong>Twitch VOD date:</strong>
                                {% if vodclass.twitch_vod_date %}
                                    {{ vodclass.twitch_vod_date|date('Y-m-d H:i:s') }}
                                {% else %}
                                    <strong><em>No data</em></strong>
                                {% endif %}
                            </li>
                            <li>
                                <strong>Twitch VOD title:</strong> 
                                {% if vodclass.twitch_vod_title %}
                                    <span class="text-overflow">{{ vodclass.twitch_vod_title }}</span>
                                {% else %}
                                    <strong><em>No data</em></strong>
                                {% endif %}
                            </li>
                            <li>				
                                <strong>Twitch VOD muted:</strong> 
                                {% if vodclass.twitch_vod_muted is same as(true) %}
                                    <strong class="error">Yes</strong>
                                {% elseif vodclass.twitch_vod_muted is same as(false) %}
                                    <span>No</span>
                                {% else %}
                                    <em>No data</em>
                                {% endif %}
                            </li>
                            <li>				
                                <strong>Twitch VOD downloaded:</strong> 
                                {% if vodclass.is_vod_downloaded %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>

                

            {% endif %}

            {% if vodclass.is_capturing %}

                <ul class="video-info">
                    <li><strong>Current duration:</strong> {{ vodclass.getDurationLive }}</li>
                    <li><strong>Watch live:</strong> <a href="https://twitch.tv/{{ streamer.display_name }}" rel="noreferrer" target="_blank">Twitch</a>
                </ul>

            {% endif %}

        </div>

        {% if vodclass.is_finalized %}
        <div class="video-segments">
            <strong>Segments</strong>
            <ul class="list-segments">
                {% for segment in vodclass.segments %}
                    <li>
                        <a href="{{ base_path() }}/vods/{{ config.channel_folders ? vodclass.streamer_name ~ "/" : "" }}{{ segment.basename }}">
                            <span class="text-overflow">{{ segment.basename }}</span>
                            {% if segment.deleted %}
                                <strong class="error">(deleted)</strong>
                            {% else %}
                                ({{ segment.filesize|formatBytes }})
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                {% if vodclass.is_vod_downloaded %}
                    <li><a href="{{ base_path() }}/vods/{{ config.channel_folders ? vodclass.streamer_name ~ "/" : "" }}{{ vodclass.basename }}_vod.mp4">Downloaded VOD</a></li>
                {% endif %} 
                {% if vodclass.is_chat_rendered %}
                    <li><a href="{{ base_path() }}/vods/{{ config.channel_folders ? vodclass.streamer_name ~ "/" : "" }}{{ vodclass.basename }}_chat.mp4">Rendered chat</a></li>
                    <li><a href="{{ base_path() }}/vods/{{ config.channel_folders ? vodclass.streamer_name ~ "/" : "" }}{{ vodclass.basename }}_chat_mask.mp4">Rendered chat mask</a></li>
                {% endif %}
                {% if vodclass.is_chat_burned %}
                    <li><a href="{{ base_path() }}/vods/{{ config.channel_folders ? vodclass.streamer_name ~ "/" : "" }}{{ vodclass.basename }}_burned.mp4">Burned chat</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}

        {# controls #}
        <div class="video-controls">

            {% if vodclass.is_finalized %}

                <a class="button is-blue" href="{{ url_for('player', { 'vod': vodclass.basename }) }}">Editor</a>

                <a class="button" href="{{ base_path() }}/vods/{{ config.channel_folders ? vodclass.streamer_name ~ "/" : "" }}{{ vodclass.basename }}.json">JSON</a>

                <a class="button" href="{{ url_for('save', { 'vod': vodclass.basename }) }}">Save from deletion</a>

                {% if vodclass.twitch_vod_id and not vodclass.is_chat_downloaded %}
                    <a class="button" href="{{ url_for('chat', { 'vod': vodclass.basename }) }}">Download chat</a>
                {% endif %}

                {% if vodclass.is_chat_downloaded and not vodclass.is_chat_burned %}
                    <a class="button" href="{{ url_for('render_chat', { 'vod': vodclass.basename }) }}">Render chat</a>
                    {% if vodclass.is_vod_downloaded %}
                        <a class="button" href="{{ url_for('render_chat', { 'vod': vodclass.basename }) }}?use_vod=1">Render chat (vod)</a>
                    {% endif %}
                {% endif %}

                {% if vodclass.twitch_vod_id %}
                    {% if not vodclass.is_vod_downloaded %}
                        <a class="button" href="{{ url_for('download', { 'vod': vodclass.basename }) }}">Download{{ vodclass.twitch_vod_muted ? ' muted' : '' }} VOD</a>
                    {% endif %}
                    <a class="button" href="{{ url_for('check_mute', { 'vod': vodclass.basename }) }}">Check mute</a>
                    {% if not vodclass.is_chat_burned %}
                        <a class="button" href="{{ url_for('fullburn', { 'vod': vodclass.basename }) }}">Render &amp; burn</a>
                    {% endif %}
                {% endif %}

                <a class="button is-danger" href="{{ url_for('delete', { 'vod': vodclass.basename }) }}">Delete</a>                

            {% elseif vodclass.is_converting %}

                <em>Converting <strong>{{ vodclass.basename }}.ts</strong> to <strong>{{ vodclass.basename }}.mp4</strong></em><br />
                <em><strong>Status:</strong> {% if vodclass.getConvertingStatus %}running{% else %}<strong class="error flashing">not running, did it crash?</strong>{% endif %}</em>

            {% elseif vodclass.is_capturing %}

                {% if vodclass.ended_at %}
                    <a class="button" href="{{ url_for('convert', { 'vod': vodclass.basename }) }}">Convert</a>
                {% endif %}

                <em>Capturing to <strong>{{ vodclass.basename }}.ts</strong> (<strong>{{ vodclass.getRecordingSize|formatBytes }}</strong>)</em><br />
                <em><strong>Status:</strong> {% if vodclass.getCapturingStatus %}running{% else %}<strong class="error flashing">not running, did it crash?</strong>{% endif %}</em>

            {% elseif not vodclass.is_capturing and not vodclass.is_converting and not vodclass.is_finalized %}

                <em>Waiting to finalize video</em>

            {% else %}
                
                <em>No video file or error</em>

            {% endif %}

        </div>

        {% if not vodclass.chapters %}
            <div class="video-error">
                No chapter data!?
            </div>
        {% endif %}

        {% if vodclass.troubleshoot %}
            <div class="video-error">
                {{ vodclass.troubleshoot.text }}
                {% if vodclass.troubleshoot.fixable %}<br /><a href="{{ url_for('troubleshoot', { 'vod': vodclass.basename }) }}?fix=1">Try to fix</a>{% endif %}
            </div>
        {% endif %}
        
        {# game list / chapters #}
        <div class="video-chapters">
            <table class="table game-list">

                <thead>
                    <tr>
                        <th>Offset</th>
                        <th>Duration</th>
                        <th>Game</th>
                        <th>Title</th>
                        <th>Viewers</th>
                    </tr>
                </thead>

                <tbody>

                    {% for chapter in vodclass.chapters %}

                        <tr{{ config.favourites[chapter.game_id] ? ' class="favourite"' : '' }}>
                            
                            {# start timestamp #}
                            <td>
                                {{ chapter.strings.started_at }}
                            </td>

                            {# duration #}
                            <td>
                                <span class="grey">
                                    {% if chapter.duration %}
                                        {{ chapter.strings.duration }}
                                    {% else %}
                                        Active
                                    {% endif %}
                                </span>
                            </td>

                            {# chapter name #}
                            <td>
                                {% if chapter.box_art_url %}<img class="boxart" src="{{ chapter.box_art_url }}" />{% endif %}

                                {% if vodclass.is_finalized %}
                                    <a href="{{ url_for('player', { 'vod': vodclass.basename }) }}?start={{ chapter.offset }}">
                                        {{ chapter.game_name ?: 'None' }}
                                    </a>
                                {% else %}
                                    {{ chapter.game_name ?: 'None' }}
                                {% endif %}

                            </td>

                            {# title #}
                            <td><span class="text-overflow">{{ chapter.title }}</span></td>

                            <td>
                                <span class="grey">{{ chapter.viewer_count|number_format }}</span>
                            </td>

                        </tr>

                    {% endfor %}

                    {% if vodclass.ended_at %}
                        
                        <tr>
                            <td>
                                {{ vodclass.getWebhookDuration }}
                            </td>
                            <td colspan="4">
                                <em>END</em>
                            </td>
                        </tr>
                        
                    {% else %}
                        
                        <tr>
                            {% if vodclass.started_at %}
                                <td>{{ vodclass.getDurationLive }}</td>
                            {% endif %}
                            <td colspan="4"><em><strong>ONGOING</strong></em></td>
                        </tr>
                        
                    {% endif %}

                </tbody>

            </table>
        </div>

    </div>

{% endif %}